Repository renuTester/todomvc: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files, npm-groovy-lint -l warning --fix --failon warning

Husky
  .husky/pre-commit
  .lintstagedrc.json
  .vscode/settings.json
  cypress.config.ts
  cypress/e2e/perf/test-lighthouse-mobile.spec.cy.ts
  cypress/e2e/perf/test-lighthouse.spec.cy.ts
  cypress/e2e/perf/test-page-load.spec.cy.ts
  cypress/support/e2e.ts
  cypress/support/index.d.ts
  cypress_runner.ts
  eslint.config.mjs
  package.json
  tsconfig.json
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

eslint
  eslint.config.mjs
Due: none

Clean
  README.md
  cypress.config.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

install
  package-lock.json
Due: prettier --write, npx cspell lint --no-must-find-files

config
  .lintstagedrc.json
  .prettierrc.json
  config.json
Due: prettier --write, npx cspell lint --no-must-find-files

Config
  .vscode/cspell.json
  .vscode/extensions.json
  .vscode/settings.json
  tsconfig.json
Due: prettier --write, npx cspell lint --no-must-find-files

utils
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/utils/data.ts
  cypress/utils/keys.ts
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

test
  cypress/e2e/accessibility/test-accessibility.spec.cy.ts
  cypress/e2e/func/test-clear-button.spec.cy.ts
  cypress/e2e/func/test-counter.spec.cy.ts
  cypress/e2e/func/test-edit.spec.cy.ts
  cypress/e2e/func/test-empty.spec.cy.ts
  cypress/e2e/func/test-filter.spec.cy.ts
  cypress/e2e/func/test-new-todo.spec.cy.ts
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

cy
  .lintstagedrc.json
  cypress/e2e/func/test-state.spec.cy.ts
  cypress/e2e/func/test-todo-items.spec.cy.ts
  cypress/e2e/perf/test-lighthouse-mobile.spec.cy.ts
  cypress/e2e/perf/test-lighthouse.spec.cy.ts
  cypress/e2e/perf/test-page-load.spec.cy.ts
  cypress_runner.ts
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

COnfig
  cypress.config.ts
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

Quality
  .prettierrc.json
  .vscode/cspell.json
  cypress.config.ts
  cypress/e2e/accessibility/test-accessibility.spec.cy.ts
  cypress/e2e/func/test-clear-button.spec.cy.ts
  cypress/e2e/func/test-counter.spec.cy.ts
  cypress/e2e/func/test-edit.spec.cy.ts
  cypress/e2e/func/test-empty.spec.cy.ts
  cypress/e2e/func/test-filter.spec.cy.ts
  cypress/e2e/func/test-new-todo.spec.cy.ts
  cypress/e2e/func/test-state.spec.cy.ts
  cypress/e2e/func/test-todo-items.spec.cy.ts
  cypress/e2e/perf/test-lighthouse-mobile.spec.cy.ts
  cypress/e2e/perf/test-lighthouse.spec.cy.ts
  cypress/e2e/perf/test-page-load.spec.cy.ts
  cypress/support/e2e.ts
  cypress/utils/config.ts
  package.json
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

tags
  cypress/e2e/perf/test-page-load.spec.cy.ts
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

Final
  README.md
  cypress.config.ts
  cypress/e2e/accessibility/test-accessibility.spec.cy.ts
  cypress/e2e/func/test-clear-button.spec.cy.ts
  cypress/e2e/func/test-counter.spec.cy.ts
  cypress/e2e/func/test-edit.spec.cy.ts
  cypress/e2e/func/test-empty.spec.cy.ts
  cypress/e2e/func/test-filter.spec.cy.ts
  cypress/e2e/func/test-new-todo.spec.cy.ts
  cypress/e2e/func/test-state.spec.cy.ts
  cypress/e2e/func/test-todo-items.spec.cy.ts
  cypress/e2e/perf/test-lighthouse-mobile.spec.cy.ts
  cypress/e2e/perf/test-lighthouse.spec.cy.ts
  cypress/e2e/perf/test-page-load.spec.cy.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
Due: prettier --write, npm run lint_fix, npm run lint, npx cspell lint --no-must-find-files

Documentation
  README.md
Due: none

Update README.md
  README.md
Due: none

section
  README.md
Due: none

updated
  README.md
Due: none

Updated
  README.md
Due: none

Final
  README.md
Due: none

ansh
  package.json
Due: prettier --write, npx cspell lint --no-must-find-files

Updated
  Jenkinsfile
Due: none

dummy
  .gitignore
Due: none

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.js)) or (any of: *.json)
  npm run lint_fix: (any of: *.ts) or (any of: *.js)
  npm run lint: (any of: *.ts) or (any of: *.js)
  npx cspell lint --no-must-find-files: ((((any of: *.ts) or (any of: *.js)) or (any of: *.json)) or (any of: *.sh)) or (any of: *.groovy)
  npm-groovy-lint -l warning --fix --failon warning: any of: *.groovy
